---
title: 小本本
pagetype: newbies
---
<!DOCTYPE html>
<html lang="en-us">
  
<head>
    {% include head.html %}
    <!-- <link rel="stylesheet" type="text/css" href="{{site.url}}/public/stylesheets/resume.css"> -->
    <link rel="stylesheet" type="text/css" href="{{site.url}}/public/stylesheets/newbies.css">
</head>

<body>
    <section class="page-header">
        {% include nav.html page=page.pagetype %}
    </section>

    <section class="main-content" id="main-content">
        <div id="newbies-list" class="newbies-list">
        </div>

        {% include footer.html %}

    </section>

    {% include foot.html %}
    <script type="text/javascript">
        site_url = "{{site.url}}";
    </script>
    <script type="text/javascript" src="{{site.url}}/public/javascripts/newbies.js"></script>

  </body>
</html>