<meta charset="UTF-8">
<title>{{page.title}} - GitHub.io by cosmozhang1995</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{post.excerpt | strip_html}}">
<link rel="stylesheet" type="text/css" href="{{site.url}}/public/stylesheets/bootstrap.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{site.url}}/public/stylesheets/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{site.url}}/public/stylesheets/fakeholder.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{site.url}}/public/stylesheets/syntax.css" media="screen">
