<meta charset="UTF-8">
<title>{{page.title}} - GitHub.io by cosmozhang1995</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="张家治,cosmo,cosmozhang,前端,开发,程序员,技术,计算机,机器学习,人工智能,w3cschool,HTML,CSS,PHP,DOM,JavaScript,jQuery,XML,AJAX,ASP.NET,W3C,MySQL,SQL,jquery mobile,bootstrap,Python,jquery easyui,jquery ui,angularjs">
<meta name="description" content="{{post.excerpt | strip_html}}">
<link rel="stylesheet" type="text/css" href="{{site.url}}/public/stylesheets/bootstrap.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{site.url}}/public/stylesheets/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{site.url}}/public/stylesheets/fakeholder.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{site.url}}/public/stylesheets/syntax.css" media="screen">
