<nav class="nav">
    <a class="nav-brand" href="{{site.url}}/index.html">花栗鼠的猫的技术博客</a>
    <a class="nav-menu" href="javascript:;"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
    <span class="nav-group">
        <a class="nav-item {% if include.page == "home" %}active{% endif %}" id="nav-home" href="{{site.url}}/index.html">首页</a>
        <a class="nav-item {% if include.page == "post" %}active{% endif %}" id="nav-post" href="{{site.url}}/blog/index.html">文章</a>
        <a class="nav-item {% if include.page == "newbies" %}active{% endif %}" id="nav-newbies" href="{{site.url}}/newbies.html">玩意</a>
        <a class="nav-item {% if include.page == "about" %}active{% endif %}" id="nav-about" href="{{site.url}}/about.html">关于</a>
    </span>
</nav>