@import "../variables";

.site-footer {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1;
}

.site-footer-owner {
    display: block;
    font-weight: bold;
}

.site-footer-credits {
    color: #819198;
}

.site-footer-devider {
    display: block;
    margin: 7px 0px;
    border-top: 1px #cccccc solid;
}

@media screen and (min-width:$window_size_md) {
    .site-footer {
        font-size: 0.8rem;
    }

}

@media screen and (min-width:$window_size_sm) and (max-width:$window_size_md) {
    .site-footer {
        font-size: 0.8rem;
    }

}

@media screen and (max-width:$window_size_sm) {
    .site-footer {
        font-size: 0.6rem;
    }
}