---
pagetype: post
---
<!DOCTYPE html>
<html lang="en-us">
  
  <head>
    {% include head.html %}
  </head>

  <body>
    <section class="page-header">
      {% include nav.html page=page.pagetype %}
    </section>

    <section class="main-content">
      <div class="{% if site.related_posts %}double-column{% endif %}">
        <div class="col-side">
          <div class="post-list">
            {% for post in site.related_posts %}
              <div class="post-item">
                <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-main">
          {% if page.title %}
            <div class="post-title-box">
              <h3>{{page.title}}</h3>
            </div>
          {% endif %}
          {{content}}
        </div>
      </div>

      {% include footer.html %}

    </section>

    {% include foot.html %}

  </body>
</html>
